
.pizza_form
= form_for @pizza, :html => {:multipart => true} do |f|
  -if @pizza.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pizza.errors.count, "error")} prohibited this pizza from being saved:"
      %ul
        - @pizza.errors.full_messages.each do |msg|
          %li= msg        
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :cost
    %br
    = f.text_field :cost
  .field
    = f.label :mass
    %br
    = f.text_field :mass
  .field
    = f.label :description
    %br
    = f.text_area :description, :cols => 60, :rows => 15
  .field
    = f.label :diameter
    %br
    = f.text_field :diameter
  .field
    = f.label "Photo"
    = f.file_field :photo
  .actions
    = f.submit 'Save'
