%p#notice= notice
.pizza_item
  %table
    %tr
      %td
        .photo
          = image_tag @pizza.photo.url(:normal)
      %td  
        .pizza_details  
          %h2= @pizza.name
          %p="Cost: $#{@pizza.cost} Mass: #{@pizza.mass} g Diameter: #{@pizza.diameter} cm"
          %hr
          .pizza_description
            %b= "Description:"
            %br
            = simple_format(@pizza.description) 
.pizza_actions          
  = link_to 'Edit', edit_pizza_path(@pizza)
  \|
  = link_to 'Go to the catalog', pizzas_path
