%p#notice= notice
.pizza_item{:style => "width: 600px; margin: 10px"}
  %table
    %tr
      %td{:style => "width: 170px;"}
        .photo{:style => "margin: 5px"}
          = image_tag @pizza.photo.url(:normal)
      %td  
        .pizza_details{:style => "margin: 10px"}  
          %h2{:style => "color: red"}= @pizza.name
          %p="Cost: $#{@pizza.cost} Mass: #{@pizza.mass} g Diameter: #{@pizza.diameter} cm"
          %hr
          .pizza_description{:style => "text-align: justify"}
            %b= "Description:"
            %br
            = simple_format(@pizza.description) 
.pizza_actions{:style => "margin: 10px"}          
  = link_to 'Edit', edit_pizza_path(@pizza)
  \|
  = link_to 'Go to the catalog', pizzas_path
