<!DOCTYPE html>
<html>
<head>
  <title>PizzaHelios</title>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'devise/menu/login_items' %>
<%= render 'navigation/index' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
